@import 'src/styles.scss';

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: $spacing-lg;
}

.title {
    font-size: $font-size-xl;
    margin-bottom: $spacing-md;

    @media (max-width: 599px) {
        font-size: $font-size-lg;  // Small devices
      }
      
      @media (min-width: 600px) and (max-width: 959px) {
        font-size: $font-size-xl;  // Medium devices
      }
    
      @media (min-width: 960px) {
        font-size: $font-size-xxl;  // Large devices
      }
    }

.button-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    button {
        width: auto;
        max-width: 280px;
    }

    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: center;

        button {
            width: auto;
        }
    }
}