<mat-card>
  <div class="content-container">
    <mat-card-header>
      <mat-card-title class="movie-info-dialog-title">{{
        data.title
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="movie-info-dialog-content">{{
      data.content
    }}</mat-card-content>
    <mat-card-actions class="movie-info-dialog-button">
      <button mat-raised-button (click)="closeMovieInfoDialog()" color="accent">
        Close
      </button>
    </mat-card-actions>
  </div>
</mat-card>
