<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-row">
        <span>MovieMax</span>
        <div>
            <button mat-flat-button (click)="openMovies()" color="primary" class="toolbar-right">
                Home
            </button>
            <button mat-flat-button (click)="openProfile()" color="primary" class="toolbar-right">
                Profile
            </button>
            <button mat-flat-button (click)="logout()" color="primary" class="toolbar-right">
                Logout
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>