@import 'src/styles.scss';

.movie-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: $spacing-md;
    gap: $spacing-md;
    justify-content: space-evenly;
    justify-items: center;
}

.movie-card {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: $spacing-sm;
    padding: $spacing-sm;
    overflow: hidden;
    border-radius: 0px 25px 0 0;
    // Raised shadow effect
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(96, 125, 139, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-sm;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: $spacing-md;
}

.header {
    display: flex;
    align-items: flex-start;
    border-radius: 2px 25px 0 0;
    padding: 0 0 0 $spacing-sm;
    color: white;
    background-color: #607D8B;
}

.subtitle {
    color: #cfcfcf;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 5px 5px;
    margin-left: auto;
    margin-right: auto;
}