<!-- Display all returned movies, where each movie is displayed in its own card -->
<div class="movie-card-container">
    <mat-card *ngFor="let movie of movies;" class="movie-card">
        <mat-card-header class="header">
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle class="subtitle">Starring: {{movie.Actors.join(', ')}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt="{{movie.Title}}"/>
        <mat-card-actions class="button-container">
            <button mat-raised-button color="primary" (click)="showGenre(movie)" class="button">
                Genre
            </button>
            <button mat-raised-button color="primary" (click)="showDirector(movie)" class="button">
                Director
            </button>
            <button mat-raised-button color="primary" (click)="showSynopsis(movie)" class="button">
                Synopsis
            </button>
            <mat-icon fontIcon="{{movie.isFavorite ? 'favorite' : 'favorite_border'}}" id="{{movie._id}}-favorite-icon"
                (click)="modifyFavoriteMovies(movie)" class="button">favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>