@use "@angular/material" as mat;

// Include the common styles for Angular Material.
@include mat.core();

// Define primary, accent, and warn palettes
$custom-primary: mat.define-palette(mat.$blue-grey-palette);
$custom-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

// Theme
$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: mat.define-typography-config(),
    // Optional: Set density to 0 for comfortable, 1 for cozy, and 2 for compact
    density: 0 
  )
);

// Apply the theme
@include mat.all-component-themes($custom-theme);

// Global styles/variables

// Spacing variables
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
