@import "src/styles.scss";

// Shared styles
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: $spacing-sm;
  padding: $spacing-sm;
  overflow: hidden;
  border-radius: 0px 25px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(96, 125, 139, 0.2);
}

// User info container
.user-info-container,
.edit-profile-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: $spacing-md;
  margin: $spacing-md;
}

.title {
  text-align: center;
}

// Use ng-deep to overwrite Angular's ViewEncapsulation
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--mdc-filled-text-field-container-color);
  border-radius: 0 20px 0 0;
}

.button-container {
  display: flex;
  flex: 1 100%;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0;
}